<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Hello Bulma!</title>
    <style>
      @import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100..900&display=swap');
    </style>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.0/css/bulma.min.css">
    <link rel="stylesheet" href="/style.css">
    <script src="https://kit.fontawesome.com/09e2a14f8b.js" crossorigin="anonymous"></script>
  </head>
  <body>
    <main role="main">
      {{!-- <div class="album bg-light pt-5"> --}}
        {{!-- <div class="container"> --}}
          {{{body}}}
        {{!-- </div> --}}
      {{!-- </div> --}}
    </main>
  </body>
</html>