{{>navbar}}
<div class="section">
 <div class='container'>
  <i class="fa-brands fa-spotify"></i>
    <form action="/spotify/artists" method="GET">
      <div class="field">
        <label class="label">Spotify searcher</label>
        <input class="input is-warning is-rounded" type="text" name="artist" style="max-width: 500px;">
      </div>
      <br />
      <div class="control">
        <button class="button is-link">Search for an Artist</button>
      </div>
    </form>
 </div>
</div>